body{
    font-family: 'poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto repeat(5,1fr) auto;
    margin: 0;
    margin-bottom: 0;
}
header {
    display: grid;
    grid-column:1 / span 7 ; 
    grid-row: 1/1;
}
#titel{
    font-size: 50px;
    text-align: center;  
} 
main {
    grid-column: 1 / span 7;
    grid-row: 2/ span 5;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    background: lightgray;
    
}
.container{
  
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
    padding: 0px;
    padding-top: 30px;
    
    
}
h2{
    padding: 15px;
}

img{
    height: 200px;
}
.container .card{
    position: relative;
  
  height: 215px;
  background-color: #fff;
  padding: 20px 15px;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}

.container .card .box img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card:hover{
    height: auto;
   
}
.container .card .box{
    
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
}


.parallex{
    background: url("https://images.pexels.com/photos/819087/pexels-photo-819087.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.parallex2{
    background: url("https://images.pexels.com/photos/1168940/pexels-photo-1168940.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

footer {
    grid-column: 1/ span 7;
    grid-row:7/7;
    background-color: rgba(59, 56, 56, 0.596);
    text-align: center;
    height: 100px;
}
#credit{
    text-align: center;
    bottom: 1%;
    

}

/* --------------------------------NATURE_CATEGOTY---------------------------------- */

